# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
package-lock.json
types/meIconComments.d.ts
src/store/module.ts
types/directives.d.ts
stats.html
vite.config.ts.timestamp*
types/components.d.ts
.eslintcache
pnpm-lock.yaml
