@use 'element-plus/theme-chalk/src/mixins/function.scss' as *;
body {
    margin: 0;
    padding: 0;
    #app {
        width: 100%;
        height: 100vh;
        font-size: getCssVar('font-size', 'base');
        color: getCssVar('text-color', 'primary');
    }
}
div {
    box-sizing: border-box;
}