html {
  body {
    margin: 0;
    padding: 0;
    color: var(--el-text-color-primary);

    #app {
      width: 100%;
      height: 100vh;
    }
  }

  div,
  span {
    box-sizing: border-box;
  }

  .pointer {
    cursor: pointer;
    /*鼠标变小手*/
  }

  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a:hover,
  a:visited,
  a:link,
  a:active {
    color: inherit;
    text-decoration: none;
  }

  .ellipsis-1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .ellipsis-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  .ellipsis-3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
}

.me-large {
  //element-plus 在切换large与default时 大部分组件字体大小用的base，间距大了字体依然没变。这里强制将font-size-base设置为large
  --el-font-size-base: var(--el-font-size-large);
}

.me-large {
  font-size: var(--el-font-size-base);
}

.me-default {
  font-size: var(--el-font-size-base);
}

.me-small {
  font-size: var(--el-font-size-small);
}
.el-color-predefine__color-selector > div {
  border: 1px solid var(--el-border-color);
}
